@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.d-flex {
	display: flex;
}

header {
	height: 100px;
	background-color: #000;
	color: #fff;
}

.header {
	max-width: 1140px;
	margin: auto;
	height: 100px;
	align-items: center; 
}

.logo {
	width: 100px;
}

.logoimg {
	height: 80px;
	width: 80px;
	background-color: #B28756; 
}

.menu {
	flex: 1;
	justify-content: flex-end;
}

.menu ul,
.menu li {
	list-style: none;
}

.menu li a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	height: 100px;
	display: flex;
	align-items: center;
	border-bottom: solid 5px transparent;
	transition: all linear 300ms;
}

.menu li a:hover,
.menu .active a {
	border-bottom: 5px solid #B28756;
}
